<!-- Header and Menu Overlay Mode -->
<header id="header-wrapper-mp" class="head-overlay sticky-menu-light pt-section" data-name="Home">
   <div class="sticky-header header-dark sticky-overlay nobg" role="navigation">
      <div class="container mp-nav">
         <div id="site-title">
            <a href="<%= root_path %>">
            <h1 class="font-accident-one-bold" style="margin-top: 10px;"><i class=""><%= image_tag("spotify-black.png", style: "max-width: 100;") %></i></h1></a>
         </div>

         <!-- Main top menu -->
         <nav id="main-menu" class="site-navigation primary-navigation" style="margin-top: 0px;">
            <ul class="sf-menu clearfix" id="example">
               <li class="m-desktop menu-item"><a href="#"><%= image_tag current_user.image_url, id: "nav-img" %></a></li>
               <li class="m-desktop menu-item"><a href="#"><%= current_user.name %></a></li>
               <li class="m-desktop menu-item"><a href="<%= logout_path %>">Logout</a></li>
               <li class="mob-button">
                  <div class="menu-button nav-icon" id="open-button">
                     <div></div>
                  </div>
               </li>
            </ul>
         </nav>
         <!-- / Main top menu -->

      </div>
   </div>

</header>
<!-- /Header and Menu Ovelay Mode -->
