<!DOCTYPE html>
<html lang="en">
<!--[if IE 9]>
<html class="ie9" lang="en">    <![endif]-->
<!--[if IE 8]>
<html class="ie8" lang="en">    <![endif]-->
<head>

  <title>GovballPlaylister</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name=viewport content="width=device-width, initial-scale=1">
   <meta name="description" content="Fletcher Responsive Website HTML Template is the professional responsive one-page website template, based on the latest Bootstrap 3">
   <meta name="keywords" content="html5, one page, one-page, template, website, responsive, bootstrap ">
   <link rel=icon href=favicon.ico sizes="16x16" type="image/png">


   <style>
      #preloader {
         position: fixed;
         left: 0;
         top: 0;
         z-index: 99999;
         width: 100%;
         height: 100%;
         overflow: visible;
         background-color: #f2f2f2; }
      #preloader img {
         margin: 0;
         position: absolute;
         top: 50%;
         left: 50%;
         margin-right: -50%;
         transform: translate(-50%, -50%); }
   </style>

</head>
<body class="">


<!--Pre-Loader-->
<div id="preloader"><%= image_tag "preloader.gif" %></div>

<!-- Off-canvas menu -->
<div class="menu-wrap">
    <div class="dividewhite4"></div>
    <nav class="menu">
        <ul class="icon-list">
            <li class="menu-item"><a href="<%= root_path %>"><i class="fa fa-fw fa-star-o"></i><span>Home</span></a></li>
            <li class="menu-item"><a href="<%= festivals_path %>"><i class="fa fa-fw fa-recycle"></i><span>Festivals</span></a></li>
            <li class="menu-item"><a href="<%= logout_path %>"><i class="fa fa-fw fa-feed"></i><span>Logout</span></a></li>
            <li class="menu-item"><a href="https://wrapbootstrap.com/theme/method-one-page-html-WB05231H0?ref=neuethemes" target="_blank"><i class="fa fa-fw fa-money"></i><span>Buy the Template</span></a></li>
        </ul>
    </nav>
    <div class="close-button nav-icon2" id="close-button">
        <div></div>
    </div>
</div>
<!-- / Off-canvas menu -->

<div class="content-wrap">

   <!-- main-top -->
   <% if logged_in? %>
    <!-- Header and Menu Overlay Mode -->
    <%= render "layouts/header" %>
    <!-- /Header and Menu Ovelay Mode -->
  <% end %>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <strong><%= flash[:notice] %></strong>
    </div>
  <% end %>



   <%= yield %>



   <!-- footer -->
   <%= render "layouts/footer" %>
   <!-- /footer -->

   <!-- Back to Top -->
   <div id="back-top"><a href="#top"></a></div>
   <!-- /Back to Top -->

</div>

<div id="image-cache" class="hidden"></div>

<script src="https://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

</body>
</html>
